@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #292929;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .hero_header {
    @apply h-[100vh] flex flex-col text-center items-center justify-center gap-8;
  }

  .scroll-section-outer {
    @apply overflow-hidden;
  }

  .scroll-section-inner {
    @apply h-[100vh] w-[400vw] flex flex-row relative;
  }

  .scroll-section {
    @apply h-[100vh] w-[100vw] flex justify-center items-center;
  }

  .footer {
    @apply h-[100vh] flex flex-col text-center items-center justify-center gap-8;
  }

  .glass {
    @apply backdrop-blur-xl border border-white/20;
  }

  .menu-bar,
  .menu-overlay {
    @apply fixed top-0 left-0 p-2 flex justify-between items-center z-10;
  }

  .menu-bar a,
  .menu-open p {
    @apply cursor-pointer;
  }

  .menu-overlay {
    @apply fixed top-0 left-0 w-[100vw] h-[100vh] p-2 bg-purple-800 z-50;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }

  .menu-close-icon {
    @apply flex flex-[2] items-end cursor-pointer;
  }

  .menu-copy {
    @apply flex flex-[4] flex-col justify-between pt-2;
  }

  .menu-preview {
    @apply flex flex-[4] items-end justify-end;
  }

  .menu-close-icon p {
    @apply text-6xl leading-[70%];
  }

  .menu-link-item {
    width: max-content;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  .menu-link-item-holder {
    @apply relative;
  }

  .menu-link-item-holder a {
    @apply text-2xl font-medium leading-[85%];
  }

  .menu-info {
    @apply flex;
  }

  .menu-info-col {
    @apply flex flex-1 flex-col justify-end;
  }
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Adjust width for vertical scrollbar */
  height: 5px; /* Adjust height for horizontal scrollbar */
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 10px; /* Rounded corners for the track */
}

/* Thumb (the part you drag) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 3px solid #f1f1f1; /* Padding around the thumb */
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}

.outline-text {
  color: transparent; /* Make the text inside transparent */
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2); /* Outline color and thickness */
}

@keyframes gradient-xy {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-xy {
  animation: gradient-xy 3s ease infinite;
  background-size: 200% 200%;
}
